

.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.catalog .product-thumbnail{
    border: 1px solid;
    box-sizing: border-box;
    padding: 10px;
    float: left;
    position: relative;
    height: 250px;
}

.catalog .product-thumbnail img {
    float: left;
    width: 150px;
}

.catalog .product-thumbnail ul {
    list-style-position: inside;
}

.price {
    position: absolute;
    bottom: 30px;
    right: 15px;
    font-size: 30px;
    color: red;
}

.product-thumbnail > a {
    position: absolute;
    bottom: 10px;
    right: 10px;
}